@charset "UTF-8";
@font-face {
  font-family: "Mulish Light";
  src: url(../fonts/Mulish-Light.ttf); }
* {
  font-size: 20px; }

body {
  margin: 0;
  color: #333; }

header {
  background-color: lemonchiffon; }
  header h1 {
    font-family: "Mulish Light", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 64px;
    padding: 1rem;
    text-align: center;
    font-size: 2rem; }

main {
  display: flex;
  flex-direction: column;
  padding: 0 10%; }

footer {
  padding: 0 20%; }

.topnav {
  display: inline;
  background-color: white;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  /* The container <div> - needed to position the dropdown content */ }
  .topnav a {
    font-family: "Mulish Light", Arial, Helvetica, sans-serif;
    float: left;
    display: block;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    color: #333; }
    .topnav a:hover {
      color: gray; }
  .topnav .dropdown {
    display: inline-block;
    /* Change the background color of the dropdown button when the dropdown content is shown */
    /* Show the dropdown menu on hover */
    /* Dropdown Button */
    /* Dropdown Content (Hidden by Default) */ }
    .topnav .dropdown:hover .dropdown__button {
      color: gray; }
    .topnav .dropdown:hover .dropdown__content {
      display: block; }
    .topnav .dropdown .dropdown__button {
      background-color: white;
      color: #333;
      padding: 20px 16px;
      font-size: 20px;
      border: none;
      height: 64px;
      overflow: hidden;
      font-family: "Mulish Light", Arial, Helvetica, sans-serif; }
    .topnav .dropdown .dropdown__content {
      display: none;
      position: absolute;
      width: 150px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      /* Links inside the dropdown */ }
      .topnav .dropdown .dropdown__content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 150px;
        background-color: white;
        /* Change color of dropdown links on hover */ }
        .topnav .dropdown .dropdown__content a:hover {
          color: gray; }

.name {
  text-align: center; }
  .name strong {
    font-size: 1.5rem; }

.photo img {
  box-shadow: 5px 5px 10px grey;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto; }
.photo figcaption {
  color: gray;
  text-align: center; }

.contact {
  display: flex;
  flex-direction: column; }
  .contact a {
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin: 0.5rem;
    min-width: max-content;
    color: #333; }
    .contact a.contact__phone {
      background-color: rgba(255, 80, 15, 0.7); }
      .contact a.contact__phone:hover {
        background-color: #ff500f; }
    .contact a.contact__viber {
      background-color: rgba(115, 96, 242, 0.7); }
      .contact a.contact__viber:hover {
        background-color: #7360f2; }
    .contact a.contact__whatsapp {
      background-color: rgba(37, 211, 102, 0.7); }
      .contact a.contact__whatsapp:hover {
        background-color: #25d366; }
    .contact a.contact__telegram {
      background-color: rgba(42, 171, 238, 0.7); }
      .contact a.contact__telegram:hover {
        background-color: #2aabee; }
    .contact a.contact__skype {
      background-color: rgba(0, 175, 240, 0.7); }
      .contact a.contact__skype:hover {
        background-color: #00aff0; }
    .contact a.contact__email {
      background-color: rgba(107, 142, 35, 0.7); }
      .contact a.contact__email:hover {
        background-color: olivedrab; }

.expander .expander__button {
  color: #333;
  font-family: "Mulish Light", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1rem 0;
  width: 100%;
  border: none;
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  background-color: inherit; }
  .expander .expander__button:hover {
    background-color: lightgray; }
.expander .expander__content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: aliceblue; }

.block .block__title h2 {
  font-family: "Mulish Light", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray; }
.block .block__content {
  display: flex; }

.timeline {
  /* вертикальная линия */
  /* последовательность не изменять */
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  /* точка линии */
  /* стрелка контейнера */
  /* контейнер контента */ }
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: gray;
    top: 0;
    bottom: 0;
    left: 31px;
    margin-left: -3px; }
  .timeline .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: lightgray;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1; }
  .timeline .right::after {
    left: 15px; }
  .timeline .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent lightgray transparent transparent; }
  .timeline .container {
    padding: 10px 25px 10px 70px;
    position: relative;
    background-color: inherit;
    width: 80%;
    /* контент */ }
    .timeline .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent lightgray transparent transparent; }
    .timeline .container .content {
      padding: 5px 20px;
      background-color: lightgray;
      position: relative;
      border-radius: 6px; }
      .timeline .container .content h3 {
        margin: 0;
        padding: 0; }
      .timeline .container .content p {
        margin: 0;
        padding: 0; }

.block-qrcode {
  display: block; }

.block-avatar {
  border-radius: 50%;
  margin-right: 1rem; }

.block-photo {
  display: grid;
  grid-template-columns: 100%; }

@media (min-width: 800px) {
  main {
    flex-direction: row; }

  .block-photo {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%; }

  .contacts {
    width: 40%; }

  .about {
    margin-left: 4%;
    width: 55%; }

  .topnav {
    display: none; }

  header h1 {
    margin: 0; } }

/*# sourceMappingURL=styles.css.map */
